<ion-content fullscreen>

  <div class="divTitle mt-5">
    <h3>Benvenuto in</h3>
    <h1>Smart Driving</h1>
  </div>

  <ion-header translucent>
    <ion-toolbar>
      <ion-segment value="all" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="Login">
          <ion-label>Login</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Registrazione">
          <ion-label>Registrazione</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <app-login *ngIf="showLogin" (logged)="checkLogin($event)"></app-login>
    <app-thumbnail-loading *ngIf="showRegistrazione"></app-thumbnail-loading>
  </ion-content>
 
</ion-content>
