<ion-card>
  <form #form="ngForm" (ngSubmit)="checkLogin(form)">
    <ion-item lines="inset" class="pr-4">
      <ion-label class="mr-3">Username</ion-label>
      <ion-input type="text" [ngModel]=userLogin?.username name="username" autofocus required clear-input placeholder="mariorossi"></ion-input>
    </ion-item>
    <ion-item lines="inset" class="pr-4">
      <ion-label class="mr-3">Password</ion-label>
      <ion-input type="password" [ngModel]=userLogin?.password name="password" required clear-input placeholder="****"></ion-input>
    </ion-item>
    <ion-button type="submit" size="default" mode='ios' fill="solid" class="m-3" block expand="full" [disabled]=form.invalid>Login</ion-button>
  </form>
</ion-card>

<ion-card>
  <ion-button type="button" size="default" mode='ios' fill="solid" class="m-3" block expand="full" (click)="fbLogin()">Accedi con Facebook</ion-button>
</ion-card>
